/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

    .banner-section .shape-img.left {
        left: 0;
    }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    .banner-text h1 {
        font-size: 60px;
        margin-left: 0;
        line-height: 70px;
    }
    .btn-style-one {
        padding: 20px 24px;
    }
    .icon-wrapper {
        right: 40px;
    }
    .features a {
        width: 155px;
    }
    .features h3 {
        font-size: 20px;
    }
}
 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 960px;
    }
    .banner-text h1 {
        font-size: 43px;
        margin-left: 18px;
    }
    .icon-wrapper ul li {
        display: inline-block;
        margin: 0px;
    } 
    .section-title h3 {
        font-size: 30px;
        line-height: 40px;
    }
    .section-title p {
        font-size: 16px;
        line-height: 150%;
    }
    .works-wrapper {
        margin-bottom: 40px;
    }
    .team-wrapper {
        margin-bottom: 120px;
    }
    .team {
        margin-bottom: 0px;
    }
    .default-form .form-group {
        width: 100%;
    }
    .footer-title h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .main-footer .footer-nav li {
        position: relative;
        display: inline-block;
        margin: 0 5px;
    }
    
    .services-section .single-service {
        margin-bottom: 30px;
    }

}
 
/* small mobile :320px. */
@media (max-width: 768px) {

    .logo {
        padding: 10px 0px;
    }
    .banner-text h1 {
        font-size: 48px;
        line-height: 70px;
        margin: 0;
    } 
    .icons-wrapper {
        /*! margin: 40px 0px; */
    }
    .icon-wrapper {
        right: 0px;
    } 
    .features-image {
       margin-left: 0;
    }
    .Shape .shape-parallax {
        left: 30%;
        width: 200px;
        height: 200px;
    } 
    
    .icon-wrapper ul li {
        margin: 2px;
    }
    .works-wrapper {
        margin-bottom: 40px;
    } 
    .Shape .shape-parallax-1 {
        width: 250px;
        height: 270px;
    } 
    .btn-box {
        display: none;
    }
    .counter-section .counter-part {
        margin-bottom: 50px;
    }
 
    .icons-parallax {
        margin-right: 0;
    }
    .banner-section .shape-img {
        display: none;
    }
    .banner-section {
        padding: 170px 0px 0px;
    } 
    .features h3 {
        font-size: 24px;
    } 
    .footer-section .footer-bottom .copyright-menu {
        float: none;
        text-align: center;
    }
    .works-section .section-title p {
        margin-bottom: 40px;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 340px) and (max-width: 767px) {

.container {
	max-width: 540px;
}
.logo img {
	margin-left: 0;
}
.banner-text h1 {
	font-size: 33px;
	line-height: 50px;
}
.icons-parallax {
	margin-bottom: 30px;
}
.section-title h3 {
	font-size: 40px;
	line-height: 50px;
}
.features-title {
	margin-left: 0;
}
.features-title h3 {
	margin: 50px 50px 14px 0px;
}
 .features-wrapper {
	margin-left: 0;
}
.features {
	display: block;
	margin: 30px 0px;
} 
.features a {
	padding: 18px 20px;
	margin: 10px 0px;
} 
.features h3 {
	margin: 20px 0px;
}
.features p {
	margin: 0;
}
.services-section .single-service {
	margin-bottom: 30px;
}
.footer-section .footer-content .footer-title {
	font-size: 30px;
	line-height: 50px;
} 
.single-counter {
	padding-right: 0;
	/*! margin-bottom: 22px; */
} 
.icons-wrapper {
	padding: 50px 0px;
	text-align: center;
}
/* .work-icon img {
	margin: 40px 0px;
} */
.works-section-two .work-icon img {
	width: 50%;
	margin-bottom: 40px;
}
.contact-section .contact-form input {
	width: 100%;
} 
.footer-section .footer-bottom .copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: ;
    margin-bottom: 13px;
}

}
@media only screen and (max-width: 376px){
    .single-counter {
        padding-right: 0;
    }
    .footer-section .footer-bottom .copyright .privacy {
        padding-left: 6px;
        font-size: 15px;
    }
    .footer-section .footer-bottom .copyright .privacy::before {
        left: -6px;
    }
    .footer-section .footer-bottom .copyright-menu li {
        padding-left: 11px;
    }
    .footer-section .footer-bottom .copyright-menu li a {
        font-size: 14px;
    }
    .mean-container a.meanmenu-reveal {
        margin-top: -63px;
    }
}