	/* about  */
    .about-section{
        background: #111b31;
        padding: 100px 0px;
        
    }
    .about-wrapper{
        /*! display: inline-block; */
    }
    .about-content {
        background: rgba(255, 255, 255, 0.01);
        -webkit-box-shadow: inset 0px 2px 1px rgba(255, 37, 127, 0.8), inset 0px 40px 40px rgba(255, 37, 127, 0.24), inset 0px -3px 6px rgba(255, 37, 127, 0.24), inset 0px -6px 18px rgba(255, 37, 127, 0.25), inset 0px -40px 40px rgba(12, 22, 45, 0.1), inset 0px 6px 12px rgba(255, 37, 127, 0.4);
        box-shadow: inset 0px 2px 1px rgba(255, 37, 127, 0.8), inset 0px 40px 40px rgba(255, 37, 127, 0.24), inset 0px -3px 6px rgba(255, 37, 127, 0.24), inset 0px -6px 18px rgba(255, 37, 127, 0.25), inset 0px -40px 40px rgba(12, 22, 45, 0.1), inset 0px 6px 12px rgba(255, 37, 127, 0.4);
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(40px);
        border-radius: 93px;
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 0px 30px;
    }
    .about-content.one {
        width: 150px;
        height: 150px;
        display: inline-block;
    }
    .about-content span {
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #FF257F;
        margin-left: 35px;
    }
    .about-content h3 {
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        display: block;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        padding: 14px 0px;
    }
    .about-content.one span {
        line-height: 150px;
    }
    
    
