/* features-section */
.features-section {
    background: #0C162D;
    padding: 100px 0px;
    z-index: 9;
} 

.section-title a{
    color:#FF257F;
}
.features-image img {
    text-align: center;
    // margin: 17px 0px 0px 0px;
}
.features-image {
	margin-top: 25px;
	z-index: 9;
	position: relative;
	/* width: 510px; */
	/* margin-left: -63px; */
}
.features-image .ellipse {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    width: 720px;
    height: 900px;
    left: -46%;
    position: absolute;
    /*! bottom: 0; */
    transform: translateY(-50%);
    z-index: -1;
    top: 74%;
}  
.features-title {
	margin-left: 50px;
}
.features-title h3 {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	color: #FFFFFF;
	margin: 50px 100px 14px 0px;
}
.features-wrapper {
    margin-left: 50px;
} 
.features-content {
    display: flex;
    border-top:  1px solid rgba(255, 255, 255, 0.1);
} 
.features{
    margin-top: 20px;
}
.features {
    margin: 15px 0px;
    display: flex;
}
// .features a {
//     width: 40px;
//     height: 36px;
//     background: #282e44;
//     padding: 10px;
//     line-height: 11px;
//     border-radius: 5px;
//     color: #fff;
// }
.features a {
	width: 140px;
	height: 60px;
	background: #282e44;
	padding: 12px 0px 0px 20px;
	line-height: 33px;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
	/* margin-left: 4px; */
}
.features h3 {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 26px;
	line-height: 34px;
	color: #fff;
	margin: 0;
	margin-left: 28px;
	width: 100%;
	letter-spacing: 1px;
}
.features p {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	color: #BCC0D4;
	/* margin-left: 57px; */
	margin-bottom: 0px;
	margin: 0px 21px 0px 50px;
}
