/* works-section */
.works-section {
    background: #0c162d;
    padding: 100px 0px;
}
.works-section .section-title h3 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
}
.works-section .section-title p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    display: block;
    align-items: center;
    color: #BCC0D4;
}
.work-icon img {
    width: 25%;
    margin-bottom: 40px;
}

.work-icon h3{
font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 45px;
color: #FFFFFF;
margin-right: 18%;
margin-bottom: 35px;
}  

/* works-section-two */
.works-section-two{
    background: #111b31;
    padding: 100px 0px;
}
.works-section-two .work-icon img {
    width: 21%;
    margin-bottom: 40px;
}
