/* works-section */
.works-section {
    background: #0c162d;
    padding: 100px 0px;
}
.works-section .section-title h3 {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 56px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #FFFFFF;
}
.works-section .section-title p {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 35px;
	display: block;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #BCC0D4;
}
.work-icon img {
    margin-bottom: 40px;
}

.work-icon h3 {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 56px;
	color: #FFFFFF;
	margin-right: 18%;
	margin-bottom: 30px;
} 

/* works-section-two */
.works-section-two{
    background: #111b31;
    padding: 100px 0px;
}
.works-section-two .work-icon img {
    width: 21%;
    margin-bottom: 40px;
}
